# Compiled binaries
a.out
aes
main
out

# Unneeded stuff
tmp/*

# CMake
CMakeCache.txt
CMakeFiles/*
Makefile
cmake_install.cmake

build/*
gui/build/*

src/aes.o
src/utils.o

# For development
compile_commands.json
.cache/*
